@charset "UTF-8";
ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  width: 100%;
  font-family: "Montserrat", sans-serif; }

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding-bottom: 50px;
  margin-top: -50px;
  z-index: 9999;
  opacity: 1;
  background: white; }

.load {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 5px solid rgba(61, 155, 239, 0.5);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  -webkit-animation: loading 1.2s ease infinite;
          animation: loading 1.2s ease infinite; }
  .load:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -10px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #3d9bef; }

.header {
  width: 100%; }

.header__container {
  width: 1170px;
  margin: 25px auto 20px; }

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px; }

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 530px;
  margin-left: -20px; }

.header__link {
  position: relative;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 14px;
  padding-bottom: 20px;
  letter-spacing: 0.01em;
  color: #243238; }
  .header__link:hover {
    color: #3d9bef; }
  .header__link:before {
    position: absolute;
    content: "\f107";
    font-family: FontAwesome;
    line-height: 16px;
    right: -13px; }

.tools:before {
  display: none; }

.parts__wrap {
  position: relative; }
  .parts__wrap:hover .parts__links {
    display: block; }

.parts__link {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 0;
  margin-bottom: 10px; }
  .parts__link:before {
    content: "\f105"; }

.types__wrap {
  position: relative; }
  .types__wrap:hover .types__links {
    display: block; }

.types__links {
  position: absolute;
  top: 39px;
  left: -20px;
  z-index: 5;
  background: #fff;
  padding: 15px 30px;
  -webkit-box-shadow: 0px -5px 16px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -5px 16px -8px rgba(0, 0, 0, 0.75);
  width: 160px;
  display: none; }

.types__link {
  display: inline-block;
  font-size: 12px;
  padding-bottom: 0;
  margin-bottom: 10px; }
  .types__link:before {
    display: none; }

.mountain {
  width: 120%; }
  .mountain__link {
    display: inline-block;
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 10px; }
    .mountain__link:before {
      display: none; }
  .mountain__links {
    top: 30px;
    left: 221px; }
  .mountain:hover .mountain__links {
    display: block; }

.road {
  width: 120%; }
  .road__link {
    display: inline-block;
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 10px; }
    .road__link:before {
      display: none; }
  .road__links {
    top: 55px;
    left: 221px; }
  .road:hover .road__links {
    display: block; }

.urban {
  width: 120%; }
  .urban__link {
    display: inline-block;
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 10px; }
    .urban__link:before {
      display: none; }
  .urban__links {
    top: 80px;
    left: 221px; }
  .urban:hover .urban__links {
    display: block; }

.frames {
  position: relative; }
  .frames:hover .mini-catalog {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.mini-catalog {
  position: absolute;
  top: 39px;
  left: 0;
  width: 750px;
  z-index: 9999;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0px -5px 16px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -5px 16px -8px rgba(0, 0, 0, 0.75);
  display: none; }
  .mini-catalog__category {
    padding: 0 20px;
    border-right: 1px solid #e8e8e8; }
    .mini-catalog__category:last-child {
      border-right: none; }
  .mini-catalog__title {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #243238;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .mini-catalog__title:hover {
      color: #3d9bef; }
  .mini-catalog__links {
    margin-left: -22px; }
  .mini-catalog__link {
    display: inline-block;
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 10px; }
    .mini-catalog__link:before {
      display: none; }

.asd {
  background: #fff; }

.panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.search {
  position: relative;
  width: 190px; }
  .search__input {
    width: 121px;
    height: 35px;
    padding-left: 20px;
    padding-right: 10px;
    border: 1px solid #B6C0A5;
    outline: none;
    background: #fff;
    color: #9E9C9C; }
  .search__button {
    width: 39px;
    height: 39px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    outline: 0;
    border: none;
    position: absolute;
    top: 0;
    right: -25px;
    margin-right: 25px;
    background: #243238; }
    .search__button:before {
      font-family: FontAwesome;
      font-size: 16px;
      line-height: 39px; }
    .search__button:before {
      content: "\f002";
      color: #fff; }
    .search__button:hover {
      background: #3d9bef; }

input::-webkit-input-placeholder {
  color: #B6C0A5; }

input:-moz-placeholder {
  color: #B6C0A5; }

input:-ms-input-placeholder {
  color: #B6C0A5; }

.minicart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .minicart:hover .minicart__icon {
    background: #243238; }
  .minicart__icon {
    width: 39px;
    height: 39px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    outline: 0;
    border: none;
    background: #3d9bef; }
    .minicart__icon:before {
      font-family: FontAwesome;
      font-size: 16px;
      line-height: 39px; }
    .minicart__icon:hover {
      background: #243238; }
    .minicart__icon:before {
      content: '\f07a';
      font-size: 20px;
      color: #fff; }
  .minicart__count {
    width: 39px;
    height: 39px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    outline: 0;
    border: none;
    display: block;
    background: #f5f5f5;
    text-align: center;
    color: #243238;
    font-weight: bold;
    font-size: 14px;
    line-height: 39px; }
    .minicart__count:before {
      font-family: FontAwesome;
      font-size: 16px;
      line-height: 39px; }

.profile__button {
  width: 39px;
  height: 39px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: 0;
  border: none;
  background: #f5f5f5; }
  .profile__button:before {
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 39px; }
  .profile__button:before {
    content: '\f007'; }
  .profile__button:hover {
    background: #3d9bef; }

.minicart, .profile__button {
  margin-left: 15px; }

.slider {
  max-width: 100%; }
  .slider__img {
    width: 100%; }
  .slider .slick-dots {
    width: auto;
    bottom: 80px;
    right: 50px; }
  .slider .slick-dots li {
    margin: 0 13px; }
  .slider .slick-dots li button:before {
    font-size: 60px;
    color: #fff;
    opacity: 1; }
  .slider .slick-dots li.slick-active button:before {
    color: #46433f;
    opacity: 1; }

.slide {
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
  z-index: 1; }
  .slide:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }

.slider__content {
  position: absolute;
  color: #fff;
  top: 20%;
  left: 48%; }

.slider__title {
  font-weight: bold;
  font-size: 44px;
  line-height: 44px; }

.slider__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.slider__sale {
  font-size: 170px;
  line-height: 160px;
  font-weight: bold; }

.slider__parcent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  font-size: 70px;
  line-height: 66px; }

.slider__button {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  padding: 15px 25px;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 10px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .slider__button:hover {
    background: rgba(255, 255, 255, 0.7);
    border-color: #243238;
    color: #243238; }

.slider__content_pos_right {
  left: 58%; }

.slider__content_pos_left {
  left: 5%; }

.categories {
  width: 100%;
  padding-bottom: 70px; }
  .categories__container {
    width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }

.mountain-bikes {
  background: url("../img/category_bikes/350/cat-1.jpg"); }

.road-bikes {
  background: url("../img/category_bikes/350/cat-2.jpg"); }

.urban-bikes {
  background: url("../img/category_bikes/350/cat-3.jpg"); }

.category {
  width: 360px;
  height: 300px;
  padding: 30px 0;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  overflow: hidden; }
  .category__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 260px;
    height: 300px;
    margin-left: 30px;
    padding-top: 55%;
    overflow: hidden;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
  .category__title {
    font-size: 30px;
    line-height: 34px;
    color: #fff;
    font-weight: 700;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    margin-bottom: 150px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer; }
    .category__title:hover {
      color: #3d9bef; }
  .category__links {
    margin-bottom: 30px; }
  .category__link {
    position: relative;
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
    .category__link:hover {
      color: #3d9bef; }
    .category__link:before {
      position: absolute;
      content: '•';
      left: -23px;
      top: -4px;
      color: #3d9bef;
      font-size: 51px; }
  .category__button {
    background: #243238;
    padding: 17px 35px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
    .category__button:hover {
      background: #3d9bef; }
  .category:hover .category__container {
    padding-top: 0; }
  .category:hover .category__title {
    margin-bottom: 10px;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

.brands {
  width: 100%; }

.brands_space_around {
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.brand {
  opacity: 0.3;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .brand:hover {
    opacity: 1; }

.featured__container {
  width: 1170px;
  margin: 0 auto 70px;
  overflow: hidden; }

.title__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px; }

.title {
  font-size: 20px; }

.arrow {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 28px;
  margin-left: 25px;
  transition: 0.3s ease;
  background: transparent;
  border: none;
  outline: none; }
  .arrow:before {
    color: #243238;
    opacity: 0.6;
    font-weight: 700;
    font-family: FontAwesome; }
  .arrow:hover:before {
    color: #3d9bef; }
  .arrow_left:before {
    content: "\f104"; }
  .arrow_right:before {
    content: "\f105"; }

.products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .products__item:first-child {
    margin-left: 0; }
  .products__img {
    width: 260px !important; }
  .products__item_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .products__link {
    font-size: 14px;
    color: #243238;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .products__link:hover {
      color: #3d9bef; }
  .products__price {
    font-size: 20px;
    font-weight: 700; }
  .products__button {
    width: 39px;
    height: 39px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    outline: 0;
    border: none;
    background: #f5f5f5;
    color: gray;
    margin-left: 5px; }
    .products__button:before {
      font-family: FontAwesome;
      font-size: 16px;
      line-height: 39px; }
    .products__button:hover {
      background: #243238;
      color: #fff; }
  .products__button_like:before {
    content: '\f004'; }
  .products__button_info:before {
    content: '\f0c9'; }
  .products .slick-slide {
    width: 260px;
    margin-right: 43.333px; }
  .products .slick-prev:before,
  .products .slick-next:before {
    font-family: FontAwesome;
    color: #243238;
    opacity: 1;
    font-size: 26px;
    font-weight: 700;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
  .products .slick-prev {
    right: 52px;
    left: auto; }
    .products .slick-prev:before {
      content: "\f104"; }
  .products .slick-next {
    right: 0; }
    .products .slick-next:before {
      content: "\f105"; }
  .products .slick-prev,
  .products .slick-next {
    top: -30px; }
    .products .slick-prev:hover:before,
    .products .slick-next:hover:before {
      color: #3d9bef; }

.stars {
  margin: 5px 0 10px; }

.star_active:before {
  color: #ffa800;
  content: "\f005";
  font-family: FontAwesome; }

.star_not_active:before {
  color: lightgray;
  content: "\f005";
  font-family: FontAwesome; }

.banner {
  position: relative;
  max-width: 100%;
  margin-bottom: 70px; }
  .banner__img {
    width: 100%; }
  .banner__content {
    position: absolute;
    color: #fff;
    top: 20%;
    left: 48%;
    left: auto;
    right: 10%; }
  .banner__title {
    font-weight: bold;
    font-size: 44px;
    line-height: 44px; }
  .banner__title-second {
    font-size: 20px; }
  .banner__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .banner__sale {
    font-size: 170px;
    line-height: 160px;
    font-weight: bold; }
  .banner__parcent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: bold;
    font-size: 70px;
    line-height: 66px; }
  .banner__button {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    padding: 15px 25px;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 10px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .banner__button:hover {
      background: rgba(255, 255, 255, 0.7);
      border-color: #243238;
      color: #243238; }

.products__item {
  position: relative; }

.products__new {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
  background: #3d9bef;
  color: #fff;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 12px; }

.sales-banner__one,
.sales-banner__two {
  position: relative; }
  .sales-banner__one:hover .sales-banner__img,
  .sales-banner__two:hover .sales-banner__img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0); }

.sales-banner__img {
  position: relative;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .3s filter ease;
  -o-transition: .3s filter ease;
  transition: .3s filter ease; }

.sales-banner__wrap {
  width: 1170px;
  margin: 70px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sales-banner__content {
  position: absolute;
  top: 15%;
  left: 40%;
  color: #243238; }

.sales-banner__title {
  font-size: 28px; }

.sales-banner_sale {
  font-size: 56px;
  font-weight: 700; }

.sales-banner__title-second {
  font-size: 14px;
  margin-bottom: 20px; }

.sales-banner__button {
  display: inline-block;
  background: #3d9bef;
  padding: 15px 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-filter: none;
          filter: none; }
  .sales-banner__button:hover {
    background: #243238; }

.blog {
  min-width: 100%;
  background: url("../img/blog/blog_bg.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .blog__wrap {
    width: 1170px;
    margin: 0 auto;
    padding: 50px 0 20px; }
  .blog__title {
    color: #fff;
    font-size: 20px; }
  .blog__news {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 0; }

.item {
  position: relative;
  overflow: hidden; }
  .item:hover .item__wrap {
    top: 47%; }
  .item:hover .item__img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0); }
  .item:hover .item__info {
    opacity: 1; }
  .item__img {
    width: 360px;
    overflow: hidden;
    position: relative;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: .3s filter ease;
    -o-transition: .3s filter ease;
    transition: .3s filter ease; }
  .item__wrap {
    position: absolute;
    top: 65%;
    left: 0;
    padding: 25px;
    color: #fff;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
  .item__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    opacity: 0; }
  .item__title {
    display: inline-block;
    color: #fff;
    margin-bottom: 25px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .item__title:hover {
      color: #3d9bef; }
  .item__date:before {
    content: "\f017";
    font-family: FontAwesome;
    padding-right: 4px; }
  .item__comments {
    color: #fff;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .item__comments:hover {
      color: #3d9bef; }
    .item__comments:before {
      content: "\f075";
      font-family: FontAwesome;
      padding-right: 4px; }

.footer {
  background: #292929;
  width: 100%;
  padding: 50px 0; }
  .footer__wrap {
    width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 500px; }
  .footer__title {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    margin-bottom: 10px; }
  .footer__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -22px; }
  .footer__link {
    color: #777;
    font-size: 12px;
    margin-bottom: 15px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .footer__link:hover {
      color: #3d9bef; }

.contacts {
  width: 280px; }
  .contacts__title {
    color: #fff;
    font-size: 14px;
    line-height: 36px; }
  .contacts__text {
    color: #777;
    font-size: 13px;
    line-height: 20px; }

.number:before {
  content: "\f095";
  font-family: FontAwesome;
  color: #3d9bef;
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle; }

.shipping:before {
  content: "\f0d1";
  font-family: FontAwesome;
  color: #3d9bef;
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle; }

.guarantee:before {
  content: "\f164";
  font-family: FontAwesome;
  color: #3d9bef;
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle; }

.contacts__telephone,
.contacts__shipping,
.contacts__statisfaction {
  margin-bottom: 30px; }

@-webkit-keyframes rotate {
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes rotate {
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.feedback {
  width: 270px; }
  .feedback__sign-up {
    margin-bottom: 30px; }
  .feedback__search {
    position: relative;
    width: 190px;
    margin-bottom: 50px; }
  .feedback__input {
    width: 100px;
    height: 35px;
    padding-left: 15px;
    padding-right: 123px;
    border: 1px solid #B6C0A5;
    outline: none;
    background: #fff;
    color: #9E9C9C; }
  .feedback__button {
    width: 39px;
    height: 39px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    outline: 0;
    border: none;
    width: auto;
    position: absolute;
    top: 0;
    right: -50px;
    padding: 0 15px;
    background: #3d9bef;
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0;
    color: #fff; }
    .feedback__button:before {
      font-family: FontAwesome;
      font-size: 16px;
      line-height: 39px; }
    .feedback__button:hover {
      -webkit-animation: rotate 0.3s linear;
              animation: rotate 0.3s linear; }
  .feedback__social {
    width: 89%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

input::-webkit-input-placeholder {
  color: #B6C0A5; }

input:-moz-placeholder {
  color: #B6C0A5; }

input:-ms-input-placeholder {
  color: #B6C0A5; }

.fb {
  background: url(../img/soc_icons/fb.png) no-repeat center; }

.tw {
  background: url(../img/soc_icons/twitter.png) no-repeat center; }

.google {
  background: url(../img/soc_icons/google.png) no-repeat center; }

.inst {
  background: url(../img/soc_icons/inst.png) no-repeat center; }

.youtube {
  background: url(../img/soc_icons/youtube.png) no-repeat center; }

.soc {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #303436;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .soc:hover {
    background-color: #3d9bef; }
