@charset "UTF-8";
ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  width: 100%;
  font-family: "Montserrat", sans-serif; }

.header {
  width: 100%; }

.header__container {
  width: 1170px;
  margin: 25px auto 20px; }

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px; }

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 530px; }

.header__link {
  position: relative;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #243238; }
  .header__link:hover {
    color: #3d9bef; }
  .header__link:before {
    position: absolute;
    content: "\f107";
    font-family: FontAwesome;
    line-height: 16px;
    right: -13px; }

.tools:before {
  display: none; }

.panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.search {
  position: relative;
  width: 190px; }
  .search__input {
    width: 121px;
    height: 35px;
    padding-left: 20px;
    padding-right: 10px;
    border: 1px solid #B6C0A5;
    outline: none;
    background: #fff;
    color: #9E9C9C; }
  .search__button {
    width: 39px;
    height: 39px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    outline: 0;
    border: none;
    position: absolute;
    top: 0;
    right: -25px;
    margin-right: 25px;
    background: #243238; }
    .search__button:before {
      font-family: FontAwesome;
      font-size: 16px;
      line-height: 39px; }
    .search__button:before {
      content: "\f002";
      color: #fff; }
    .search__button:hover {
      background: #3d9bef; }

input::-webkit-input-placeholder {
  color: #B6C0A5; }

input:-moz-placeholder {
  color: #B6C0A5; }

input:-ms-input-placeholder {
  color: #B6C0A5; }

.minicart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .minicart:hover .minicart__icon {
    background: #243238; }
  .minicart__icon {
    width: 39px;
    height: 39px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    outline: 0;
    border: none;
    background: #3d9bef; }
    .minicart__icon:before {
      font-family: FontAwesome;
      font-size: 16px;
      line-height: 39px; }
    .minicart__icon:hover {
      background: #243238; }
    .minicart__icon:before {
      content: '\f07a';
      font-size: 20px;
      color: #fff; }
  .minicart__count {
    width: 39px;
    height: 39px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    outline: 0;
    border: none;
    display: block;
    background: #f5f5f5;
    text-align: center;
    color: #243238;
    font-weight: bold;
    font-size: 14px;
    line-height: 39px; }
    .minicart__count:before {
      font-family: FontAwesome;
      font-size: 16px;
      line-height: 39px; }

.profile__button {
  width: 39px;
  height: 39px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: 0;
  border: none;
  background: #f5f5f5; }
  .profile__button:before {
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 39px; }
  .profile__button:before {
    content: '\f007'; }
  .profile__button:hover {
    background: #3d9bef; }

.minicart, .profile__button {
  margin-left: 15px; }

.slider {
  max-width: 100%; }
  .slider__img {
    width: 100%; }
  .slider .slick-dots {
    width: auto;
    bottom: 80px;
    right: 50px; }
  .slider .slick-dots li {
    margin: 0 13px; }
  .slider .slick-dots li button:before {
    font-size: 60px;
    color: #fff;
    opacity: 1; }
  .slider .slick-dots li.slick-active button:before {
    color: #46433f;
    opacity: 1; }

.slide {
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
  z-index: 1; }
  .slide:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }

.slider__content {
  position: absolute;
  color: #fff;
  top: 20%;
  left: 48%; }

.slider__title {
  font-weight: bold;
  font-size: 44px;
  line-height: 44px; }

.slider__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.slider__sale {
  font-size: 170px;
  line-height: 160px;
  font-weight: bold; }

.slider__parcent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  font-size: 70px;
  line-height: 66px; }

.slider__button {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  padding: 15px 25px;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 10px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .slider__button:hover {
    background: rgba(255, 255, 255, 0.7);
    border-color: #243238;
    color: #243238; }

.slider__content_pos_right {
  left: 58%; }

.slider__content_pos_left {
  left: 5%; }

.categories {
  width: 100%;
  padding-bottom: 70px; }
  .categories__container {
    width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }

.mountain-bikes {
  background: url("../img/category_bikes/350/cat-1.jpg"); }

.road-bikes {
  background: url("../img/category_bikes/350/cat-2.jpg"); }

.urban-bikes {
  background: url("../img/category_bikes/350/cat-3.jpg"); }

.category {
  width: 360px;
  height: 300px;
  padding: 30px 0;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  overflow: hidden; }
  .category__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 260px;
    height: 300px;
    margin-left: 30px;
    padding-top: 55%;
    overflow: hidden;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
  .category__title {
    font-size: 30px;
    line-height: 34px;
    color: #fff;
    font-weight: 700;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    margin-bottom: 150px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer; }
    .category__title:hover {
      color: #3d9bef; }
  .category__links {
    margin-bottom: 30px; }
  .category__link {
    position: relative;
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
    .category__link:hover {
      color: #3d9bef; }
    .category__link:before {
      position: absolute;
      content: '•';
      left: -23px;
      top: -4px;
      color: #3d9bef;
      font-size: 51px; }
  .category__button {
    background: #243238;
    padding: 17px 35px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
    .category__button:hover {
      background: #3d9bef; }
  .category:hover .category__container {
    padding-top: 0; }
  .category:hover .category__title {
    margin-bottom: 10px;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

.brands {
  width: 100%; }

.brands_space_around {
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.brand {
  opacity: 0.3;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .brand:hover {
    opacity: 1; }

.featured__container {
  width: 1170px;
  margin: 0 auto 70px;
  overflow: hidden; }

.title__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px; }

.title {
  font-size: 20px; }

.arrow {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 28px;
  margin-left: 25px;
  transition: 0.3s ease;
  background: transparent;
  border: none;
  outline: none; }
  .arrow:before {
    color: #243238;
    opacity: 0.6;
    font-weight: 700;
    font-family: FontAwesome; }
  .arrow:hover:before {
    color: #3d9bef; }
  .arrow_left:before {
    content: "\f104"; }
  .arrow_right:before {
    content: "\f105"; }

.products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .products__item:first-child {
    margin-left: 0; }
  .products__img {
    width: 260px !important; }
  .products__item_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .products__link {
    font-size: 14px;
    color: #243238;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .products__link:hover {
      color: #3d9bef; }
  .products__price {
    font-size: 20px;
    font-weight: 700; }
  .products__button {
    width: 39px;
    height: 39px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    outline: 0;
    border: none;
    background: #f5f5f5;
    color: gray;
    margin-left: 5px; }
    .products__button:before {
      font-family: FontAwesome;
      font-size: 16px;
      line-height: 39px; }
    .products__button:hover {
      background: #243238;
      color: #fff; }
  .products__button_like:before {
    content: '\f004'; }
  .products__button_info:before {
    content: '\f0c9'; }
  .products .slick-slide {
    width: 260px;
    margin-right: 43.333px; }
  .products .slick-prev:before,
  .products .slick-next:before {
    font-family: FontAwesome;
    color: #243238;
    opacity: 1;
    font-size: 26px;
    font-weight: 700;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
  .products .slick-prev {
    right: 52px;
    left: auto; }
    .products .slick-prev:before {
      content: "\f104"; }
  .products .slick-next {
    right: 0; }
    .products .slick-next:before {
      content: "\f105"; }
  .products .slick-prev,
  .products .slick-next {
    top: -30px; }
    .products .slick-prev:hover:before,
    .products .slick-next:hover:before {
      color: #3d9bef; }

.stars {
  margin: 5px 0 10px; }

.star_active:before {
  color: #ffa800;
  content: "\f005";
  font-family: FontAwesome; }

.star_not_active:before {
  color: lightgray;
  content: "\f005";
  font-family: FontAwesome; }

.banner {
  position: relative;
  max-width: 100%;
  margin-bottom: 70px; }
  .banner__img {
    width: 100%; }
  .banner__content {
    position: absolute;
    color: #fff;
    top: 20%;
    left: 48%;
    left: auto;
    right: 10%; }
  .banner__title {
    font-weight: bold;
    font-size: 44px;
    line-height: 44px; }
  .banner__title-second {
    font-size: 20px; }
  .banner__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .banner_sale {
    font-size: 170px;
    line-height: 160px;
    font-weight: bold; }
  .banner_parcent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: bold;
    font-size: 70px;
    line-height: 66px; }
  .banner__button {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    padding: 15px 25px;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 10px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .banner__button:hover {
      background: rgba(255, 255, 255, 0.7);
      border-color: #243238;
      color: #243238; }

.products__item {
  position: relative; }

.products__new {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
  background: #3d9bef;
  color: #fff;
  padding: 5px 10px;
<<<<<<< HEAD
  font-weight: 700;
=======
>>>>>>> a6319957d69bf3c32dcd9dfe6fbb7084139e6e27
  font-size: 12px; }
